/*DetailsView*/
.detailsView {
  margin: auto;
  width: 100%;
}

#loading {
	margin-top: 25px;
}

.backButton {
	margin-left: 25px;
}

#topBackButton {
	margin-top: 25px;
}

#bottomBackButton {
	margin-bottom: 25px;
}